@using Bank_Insurance.ViewModel
@using Microsoft.AspNetCore.Identity
@model CompositeInsurancePaymentViewModel

@{
    ViewData["Title"] = "Add Treasuary";
}


<head>
   
    
    <link rel="stylesheet" href="~/css/AddTreasureStyle.css">
    <script src="~/js/TextFeildFocus.js"></script>
    <title>Add Treasure</title>
</head>
<body>
    <div class="MainDiv">

        <div class="frame" id="Home">
            <div class="NavBarTop_div">
                <a asp-controller="Home" asp-action="Index"><img class="logo_img_Home" src="~/images/Homelogo.png"></a>
                <label class="TopicAddTreasure">Add Treasure</label>

            </div>


            <div class="content_div">
                <div class="navigation" id="Leftnav">
                    <ul class="LeftUl">

                        <li class="LeftLi">
                            <a asp-controller="InsuarancePayment" asp-action="Add" class="active" id="">
                                <img src="~/images/Back.png" class="Back_png">Back
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="type_div">



                    <div class="content_div2">

                        <form asp-controller="InsuarancePayment" asp-action="Treasurayes" method="post">
                            <div class="V_div01">
                                <div class="V_div">
                                    <label class="Branch_lbl">Branch</label>
                                    <input class="Branch_txt textbox" type="text" id="branchInput">
                                    <input type="hidden" id="branchId" name="InsuarancePaymentViewModel.BranchId" required>
                                </div>

                                <div class="V_div">
                                    <label class="Date_lbl">Form Date</label>
                                    <input asp-for="InsuarancePaymentViewModel.Date" class="Date_txt textbox" type="date">
                                </div>

                                <div class="V_div">
                                    <label class="Name_lbl">Name</label>
                                    <input asp-for="InsuarancePaymentViewModel.TreasuaryName" class="Name_txt textbox" type="text" required>
                                </div>



                            </div>


                            <div class="button_div">
                                <div class="Add_div"><button type="submit" class="Add">Add</button></div>

                            </div>
                        </form>

                        <div class="tablediv">

                            <table id="myTable">
                                <thead>
                                    <tr>
                                        <th class="Col01">Sub num</th>
                                        <th class="Col02">Name</th>
                                        <th class="Col03">Date</th>



                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        
                                      
                                        @foreach (var tr in Model.CollectionModel)
                                        {
                                           
                                            <tr>
                                                <td></td>
                                                <td>@tr.TreasuaryName</td>
                                                <td>@tr.Date</td>

                                            </tr>
                                           
                                        }
                                    }





                                </tbody>
                            </table>


                        </div>


                    </div>
                   
                </div>
            </div>

        </div>
</body>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function () {
            
            var branches = @Html.Raw(Json.Serialize(ViewBag.Branchs));

            
            var branchNamesWithoutDots = branches.map(function (branch) {
                return branch.text.replace('.', ''); 
            });

            
            $("#branchInput").autocomplete({
                source: branchNamesWithoutDots, 
                minLength: 1, 
                messages: {
                    noResults: '',
                    results: function () { }
                },
                select: function (event, ui) {
                   
                    var selectedBranch = branches.find(function (b) { return b.text === ui.item.value; });

                    
                    $("#branchId").val(selectedBranch.value);

                    return true; 
                }
            }).autocomplete("instance")._renderMenu = function (ul, items) {
                var that = this;
                $.each(items, function (index, item) {
                    that._renderItemData(ul, item);
                });
            };
        });
    </script>
}
