@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="">
    <div class="left_div">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="dangerAllert" role="alert"></div>
            <div class="">
                <label asp-for="Input.OldPassword" class="labelA"></label>
                <input asp-for="Input.OldPassword" class="txtA textbox" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                
                <span asp-validation-for="Input.OldPassword" class="dangerAllert"></span>
            </div>
            <div class="">
                <label asp-for="Input.NewPassword" class="labelA"></label>
                <input asp-for="Input.NewPassword" class="txtA textbox" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
               
                <span asp-validation-for="Input.NewPassword" class="dangerAllert"></span>
            </div>
            <div class="">
                <label asp-for="Input.ConfirmPassword" class="labelA"></label>
                <input asp-for="Input.ConfirmPassword" class="txtA textbox" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                
                <span asp-validation-for="Input.ConfirmPassword" class="dangerAllert"></span>
            </div>
            <div class="Save_divA">
                <button type="submit" class="SaveA">Update password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
