@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="labelA2" role="alert">
    <p>
        <strong>Delete data and close my account.</strong>
    </p>
</div>

<div class="left_div">
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        @if (Model.RequirePassword)
        {
            <div class="">
                @* <label asp-for="Input.Password" class="labelA"></label> *@
                <input asp-for="Input.Password" class="txtA" autocomplete="current-password" aria-required="true" placeholder="Please enter your password." />
                
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        
        <div class="Save_div">
            <button class="Delete" type="submit">Delete data</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
