@page
@model IndexModel
@{
    ViewData["Title"] = "Add Phone Number";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>

<div class="">
    <div class="">
        <form id="profile-form" method="post" onsubmit="return validatePhoneNumber()">
            <div asp-validation-summary="ModelOnly" class="Allert" role="alert"></div>
            <div class="left_div">

                <div>
                    <label asp-for="Username" class="labelA"></label>
                    <input asp-for="Username" class="txtA" placeholder="Please choose your username." disabled />
                </div>

                <div>
                    <label asp-for="Input.PhoneNumber" class="labelA"></label>
                    <input asp-for="Input.PhoneNumber" class="txtA" placeholder="Please enter your phone number." id="TPNo" required oninput="validateInputNumbers(event)" />
                    <span asp-validation-for="Input.PhoneNumber" class="Allert3"></span>
                    
                </div>

                <div class="Save_divA">
                    <button id="update-profile-button" type="submit" class="SaveA">Save</button>
                </div>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
