@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}



<div class="">
    <div class="">

        <p class="labelA2">Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        
        <div class="Save_div">
            <form id="download-data" asp-page="DownloadPersonalData" method="post">
                <button class="SaveA" type="submit">Download</button>
            </form>
        </div>

        <p class="labelA2">
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>

        <div class="Save_div">
            <p>
                <a id="delete" asp-page="DeletePersonalData" class=""><button class="Delete" type="button">Delete</button></a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
