@using Bank_Insurance.ViewModel
@using Microsoft.AspNetCore.Identity
@model AbipreranaViewModel
@{
    ViewData["Title"] = "Add Divisarana Abiprerana";

}
<head>
    
    <link rel="stylesheet" href="~/css/ParithoshithaStyle.css">
    <link rel="stylesheet" href="~/css/PopUpStyle.css">
    <script src="~/js/TextFeildFocus.js"></script>
    <title>Divisarana Insuarance Abiprerana</title>
</head>
<body>
    <div class="MainDiv">

        <div class="frame" id="Home">
            <div class="NavBarTop_div">
                <a class="Back" asp-controller="Home" asp-action="Index"><img class="logo_img_Home" src="~/images/Homelogo.png"></a>
                <label class="Topic">Divisarana Insuarance Abiprerana</label>

            </div>


            <div class="content_div">
                <div class="navigation" id="Leftnav">
                    <ul class="LeftUl">


                        <li class="LeftLi">
                            <a asp-controller="Divisarana" asp-action="DivisaranaHome" class="active" id="">
                                <img src="~/images/Back.png" class="Back_png">Back
                            </a>
                        </li>

                        <li class="LeftLi">
                            <a asp-controller="Abiprerana" asp-action="DivisaranaAbipreranaView" class="active" id="">
                                <img src="~/images/Doc.png" class="Doc_png">Abiprerana
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="type_div">



                    <div class="content_div2">
                        <form asp-controller="Abiprerana" asp-action="AddDivisaranaAbiprerana" method="post">
                        <div class="V_div01">
                            
                            <div class="V_div">
                                <label class="Branch_lbl">Branch</label>
                                    <input class="Branch_txt textbox" type="text" id="branchInput" required>
                                <input type="hidden" id="branchId" name="BranchId">
                            </div>

                            <div class="V_div">
                                <label class="Month_lbl">Month</label>
                                    <select name="Month" id="Month" class="MonthDropdown textbox" required>
                                    <option value="" disabled selected >Select a month</option>
                                    <option value="January">January</option>
                                    <option value="February">February</option>
                                    <option value="March">March</option>
                                    <option value="April">April</option>
                                    <option value="May">May</option>
                                    <option value="June">June</option>
                                    <option value="July">July</option>
                                    <option value="August">August</option>
                                    <option value="September">September</option>
                                    <option value="October">October</option>
                                    <option value="November">November</option>
                                    <option value="December">December</option>
                                </select>
                            </div>

                            <div class="V_div">
                                <label class="Amount_lbl">Amount</label>
                                    <input asp-for="Amount" class="Amount_txt textbox" type="number" min="0" oninput="validity.valid||(value='');" required>
                            </div>

                            <div class="V_div">
                                <label class="Comment_lbl">Comment</label>
                                    <textarea asp-for="Comment" class="Comment_txt textbox" type="text"></textarea>
                            </div>

                            
                        </div>

                        <div class="button_div">

                                <div class="Add_div"><button type="button" class="Add" id="saveButton">Submit</button></div>
                        </div>
                            <div id="confirmationModal" class="modal">
                                <div class="modal-content">
                                    
                                    <p>Are you sure you want to Submit?</p>
                                    <button class ="PopUpYes" type="submit" id="confirmSave">Yes</button>
                                    <button class="PopUpNo" type="button" id="cancelSave">No</button>
                                </div>
                            </div>

                        </form> 
                    </div>
                    
                </div>
            </div>

        </div>
</body>

<script>
    document.getElementById("saveButton").addEventListener("click", function () {
        document.getElementById("confirmationModal").style.display = "block";
    });

    document.getElementById("cancelSave").addEventListener("click", function () {
        document.getElementById("confirmationModal").style.display = "none";
    });

    document.getElementById("confirmSave").addEventListener("click", function () {
        
        document.getElementById("confirmationModal").style.display = "none";
    });
</script>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function () {
            // Get branch names from ViewBag and convert them to an array
            var branches = @Html.Raw(Json.Serialize(ViewBag.Branchs));

            // Modify branches to remove dots
            var branchNamesWithoutDots = branches.map(function (branch) {
                return branch.text.replace('.', ''); // Remove dot from each branch name
            });

            // Initialize autocomplete on the input field
            $("#branchInput").autocomplete({
                source: branchNamesWithoutDots, // Provide the modified array of branch names as the source of suggestions
                minLength: 1, // Minimum characters to trigger autocomplete
                messages: {
                    noResults: '',
                    results: function () { }
                },
                select: function (event, ui) {
                    // Find the corresponding branch object based on the selected branch name
                    var selectedBranch = branches.find(function (b) { return b.text === ui.item.value; });

                    // Set the selected branch's ID in the hidden field
                    $("#branchId").val(selectedBranch.value);

                    return true; // Allow default behavior of the input field (form submission)
                }
            }).autocomplete("instance")._renderMenu = function (ul, items) {
                var that = this;
                $.each(items, function (index, item) {
                    that._renderItemData(ul, item);
                });
            };
        });
    </script>
}
