@using Bank_Insurance.ViewModel
@using Microsoft.AspNetCore.Identity
@model CompositeSummaryViewModel


<head>

    
    <link rel="stylesheet" href="~/css/SummaryStyle.css">
    <script src="~/js/ValueSubmitScript.js"></script>
    <title>Bank Insuarance Summary</title>
</head>
<body>
    <div class="MainDiv">

        <div class="frame" id="Home">
            <div class="NavBarTop_div">
                <a asp-controller="Home" asp-action="Index"><img class="logo_img_Home" src="~/images/Homelogo.png"></a>
                <label class="Topic">Bank Insuarance Monthly Payment Summary</label>

            </div>


            <div class="content_div">
                <div class="navigation" id="Leftnav">
                    <ul class="LeftUl">

                        <li class="LeftLi">
                            <a asp-controller="Home" asp-action="Index" class="active" id="">
                                <img src="~/images/Back.png" class="Back_png">Back
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="type_div">

                    

                    <div class="content_div2">
                        <form asp-controller="Summary" asp-action="BankSummary" method="post">
                            <div class="V_div01">


                                <div class="V_div">
                                   @*  <label class="Branch_lbl">Branch</label> *@
                                    <input class="Branch_txt" type="text" id="branchInput" placeholder="Search Branch">
                                    <img class="BranchSearchImage" src="~/images/search.png">
                                    <input type="hidden" id="branchId" name="SummaryViewModel.BranchId">
                                </div>
                                

                            </div>

                            @* <div class="button_div">
                                <div class="Add_div"><button type="submit" class="Add" id="saveButton">Search</button></div>
                            </div> *@
                            
                        </form>




                        <div class="tablediv">

                            <table class="table" id="myTable">
                                <thead>
                                    <tr>
                                        <th class="Col01_1">Branch Name</th>
                                        <th class="Col02_1">Date</th>
                                        <th class="Col03_1">Monthly Payment</th>
                                        

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {


                                        @foreach (var Member in Model.CollectionSummaryModel)
                                        {

                                            <tr>


                                                <td><a href="/Summary/BankCompensationSummary?PolicyNo=@Member.Branchpolicyno">@Member.BranchName</a></td>
                                                <td>@Member.Date</td>
                                                <td>@Member.Value</td>
                                                


                                            </tr>

                                        }
                                    }

                                </tbody>
                            </table>


                        </div>


                    </div>
                    
                </div>
            </div>

        </div>
       
</body>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function () {

            var branches = @Html.Raw(Json.Serialize(ViewBag.Branchs));

            var branchNamesWithoutDots = branches.map(function (branch) {
                return branch.text.replace('.', '');
            });

            $("#branchInput").autocomplete({
                source: branchNamesWithoutDots,
                minLength: 1,
                messages: {
                    noResults: '',
                    results: function () { }
                },
                select: function (event, ui) {
                    var selectedBranch = branches.find(function (b) { return b.text === ui.item.value; });
                    //$("#branchId").val(selectedBranch.value);
                    $("input[name='SummaryViewModel.BranchId']").val(selectedBranch.value);
                    return true;
                }
            }).autocomplete("instance")._renderMenu = function (ul, items) {
                var that = this;
                $.each(items, function (index, item) {
                    that._renderItemData(ul, item);
                });
            };
        });
    </script>
}

