@page
@using Microsoft.AspNetCore.Identity
@using Bank_Insuarance.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model Bank_Insurance.Areas.Identity.Pages.Account.ResetpasswordNewModel

@{
    ViewData["Title"] = "Reset Password";
}


<head>

    <link rel="stylesheet" href="~/css/AccountStyle.css">
    <link href="~/css/PopUpStyle.css" rel="stylesheet" />
    <script src="~/js/EditZoneScript.js"></script>

    <title>Reset Password</title>
</head>
<body>
    <div class="MainDiv">

        <div class="frame" id="Home">
            <div class="NavBarTop_div">
                <a asp-controller="Home" asp-action="Index"><img class="logo_img_Home" src="~/images/Homelogo.png"></a>
                <ul class="TopUl" id="HUI">
                    <li class="TopLi Li_1"><a class="active" href="#">User/<label class="Blue">Setting</label></a></li>

                    <li class="TopLi Li_2_2"><a class="active" href="#"><img src="~/images/Line.png" class="searchWhite_img"></a></li>
                    <li class="TopLi Li_3">

                        @if (SignInManager.IsSignedIn(User))
                        {
                            var user = await UserManager.GetUserAsync(User);


                            <a class="active">@user.FullName!</a>


                            @* <p>Welcome, @user.FullName!</p> *@
                        }
                    </li>

                    <li class="TopLi Li_4"><a class="active" href="#"><img src="~/images/account_circle.png" class="account_circle" onclick="togglePopup()"></a></li>

                </ul>





            </div>


            <div class="content_div">
                <div class="navigation" id="Leftnav">

                    <ul class="LeftUl">
                        <li class="LeftLi">
                            <a asp-area="Identity" asp-page="/Account/Register" class="active" id="AccountButton">
                                Register New User
                            </a>
                        </li>

                        <li class="LeftLi">
                            <a asp-area="Identity" asp-page="/Account/ResetpasswordNew" class="active white" id="BranchButton">
                                Password Reset
                            </a>
                        </li>

                        <li class="LeftLi">
                            <a asp-controller="AppRole" asp-action="Create" class="active" id="AccountButton">
                                Add Role
                            </a>
                        </li>


                        <li class="LeftLi">
                            <a asp-controller="Home" asp-action="Index" class="active" id="">
                                <img src="~/images/Back.png" class="Back_png">Back
                            </a>
                        </li>


                        <li class="LeftLi">
                            <a class="active" id="logoutButton">
                                <img src="~/images/logout2.png" class="logout2_png">Log out
                            </a>
                        </li>



                    </ul>
                    <div id="confirmationModalLogOut" class="modal">
                        <div class="modal-content">

                            <p>Are you sure you want to Log out?</p>
                            <div class="LogoutButton_Div">
                                @if (SignInManager.IsSignedIn(User))
                                {

                                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                        <button type="submit" class="PopUpLogOutYes" id="confirmLogOut">Yes</button>
                                    </form>


                                }
                                else
                                {

                                }

                                <button class="PopUpLogOutNo" type="button" id="cancelLogOut">No</button>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="type_div">



                    <div class="Flex_div2">
                        <div class="Flex_div2_line1">
                            <label class="Users_label" id="Topic">Reset Password</label>

                        </div>
                        <div class="UsersInfo_divPR">

                            <div class="MiddleContent_divPR">

                                <div class="Register_div">

                                    <div class="left_divR">

                                        <form method="post">

                                            <div class="DFeild">
                                                <label class="labelP" asp-for="SelectedUserId">Select User:</label>
                                                <select asp-for="SelectedUserId" class="DropdP" asp-items="Model.UserSelectList" required>
                                                    <option value="">Select User</option>
                                                </select>
                                            </div>

                                            <div class="DFeild">
                                                <label class="labelP" asp-for="NewPassword">New Password:</label>
                                                <input asp-for="NewPassword" class="txtP" required />
                                            </div>

                                            <div class="Save_divR">
                                                <button type="submit" class="SaveA">Reset</button>
                                            </div>

                                        </form>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                    @* <label class="copyrightPR" id="target-div-id">Copyright 2023  NanosoftGlobel PVT.LTD All Rights Reserved</label> *@
                </div>
            </div>

        </div>
</div>

</body>
<script>

    document.getElementById("logoutButton").addEventListener("click", function () {
        document.getElementById("confirmationModalLogOut").style.display = "block";
    });

    document.getElementById("cancelLogOut").addEventListener("click", function () {
        document.getElementById("confirmationModalLogOut").style.display = "none";
    });

    document.getElementById("confirmLogOut").addEventListener("click", function () {
        // Add your save functionality here
        // Placeholder for actual save operation
        document.getElementById("confirmationModalLogOut").style.display = "none";
    });
</script>

