@using Bank_Insurance.ViewModel
@using Microsoft.AspNetCore.Identity
@using Bank_Insuarance.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model BranchViewModel
<head>
    <link rel="stylesheet" href="~/css/EditBranchStyle.css">
    <link rel="stylesheet" href="~/css/PopUpStyle.css">
    <script src="~/js/EditZoneScript.js"></script>

    <title>Edit Branch</title>
</head>
<body>
    <div class="MainDiv">

        <div class="frame" id="Home">
            <div class="NavBarTop_div">
                <a asp-controller="Home" asp-action="Index"><img class="logo_img_Home" src="~/images/Homelogo.png"></a>
                <ul class="TopUl" id="HUI">
                    <li class="TopLi Li_1"><a class="active" href="#">Branch/<label class="Blue">Setting</label></a></li>

                    <li class="TopLi Li_2"><a class="active" href="#"><img src="~/images/Line.png" class="searchWhite_img"></a></li>
                    <li class="TopLi Li_3">

                        @if (SignInManager.IsSignedIn(User))
                        {
                            var user = await UserManager.GetUserAsync(User);


                            <a class="active">@user.FullName!</a>


                           
                        }
                    </li>
                    <li class="TopLi Li_4"><a class="active" href="#"><img src="~/images/account_circle.png" class="account_circle" onclick="togglePopup()"></a></li>

                </ul>





            </div>


            <div class="content_div">
                <div class="navigation" id="Leftnav">

                    <ul class="LeftUl">
                        
                        <li class="LeftLi">
                            <a asp-controller="Home" asp-action="Index" class="active" id="">
                                <img src="~/images/Back.png" class="Back_png">Back
                            </a>
                        </li>

                        <li class="LeftLi">
                            <a asp-controller="Branch" asp-action="Branch" class="active white" id="BranchButton">
                                <img src="~/images/Branch_png.png" class="Branch_png">Branch
                            </a>
                        </li>

                        <li class="LeftLi">
                            <a asp-controller="Zone" asp-action="Zone" class="active" id="ZoneButton">
                                <img src="~/images/ZoneWhite.png" class="Zone_png">Zone
                            </a>
                        </li>

                        

                        <li class="LeftLi">
                            <a class="active" id="logoutButton">
                                <img src="~/images/logout2.png" class="logout2_png">Log out
                            </a>
                        </li>



                    </ul>
                    <div id="confirmationModalLogOut" class="modal">
                        <div class="modal-content">

                            <p>Are you sure you want to Log out?</p>
                            <div class="LogoutButton_Div">
                                @if (SignInManager.IsSignedIn(User))
                                {

                                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                        <button type="submit" class="PopUpLogOutYes" id="confirmLogOut">Yes</button>
                                    </form>


                                }
                                else
                                {

                                }

                                <button class="PopUpLogOutNo" type="button" id="cancelLogOut">No</button>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="type_div">



                    <div class="Flex_div2">
                        <div class="Flex_div2_line1">
                            <label class="Zone_label" id="Topic">Branch Edit</label>

                        </div>
                        <div class="ZoneInfo_div">
                            <div class="MiddleNav_div">
                                <div class="Middlenavigation" id="Leftnav">

                                    <ul class="MiddleUl">


                                        <li class="MiddleLi Bar">
                                            <a asp-controller="Branch" asp-action="Branch" class="Middleactive" onclick="" id="">
                                                <img src="~/images/BranchBlue.png" class="Basic_png">Basic Information
                                            </a>
                                        </li>

                                        <li class="MiddleLi Bar">
                                            <a class="Middleactive PinBlue" onclick="" id="">
                                                <img src="~/images/AddZone.png" class="AddZone_png">Edit Branch
                                            </a>
                                        </li>

                                        <li class="MiddleLi Bar">
                                            <a asp-controller="Branch" asp-action="AddBranch" class="Middleactive" onclick="" id="">
                                                <img src="~/images/AddZone.png" class="AddZone_png">Add Branch
                                            </a>
                                        </li>
                                       



                                    </ul>

                                </div>

                            </div>

                            <div class="Flex_div">
                                <div class="MiddleContent_div">

                                    <div class="BasicInformationTopic_div"><label class="BasicInformation_label">Edit Branch</label></div>
                                    <form asp-controller="Branch" asp-action="EditBranch" method="post">
                                        <div class="BasicInformation_div">

                                            <div class="left_div">
                                                <label class="BranchID_label">Branch ID</label>
                                                <div><input asp-for="BranchId" class="BranchID_txt textbox" type="text" name="BranchId" required ><img src="~/images/edit.png" class="edit_png">
                                                    <span asp-validation-for="BranchId"> </span>
                                                </div>

                                                <label class="BranchName_label">Branch Name</label>
                                                <div><input asp-for="Branch_name" class="BranchName_txt  textbox" type="text" name="Branch_name" required><img src="~/images/edit.png" class="edit_png"></div>

                                                <label class="PhoneNumber_label">Phone Number</label>
                                                <div><input asp-for="TpNo" class=" PhoneNumber_txt textbox" type="number" name="TpNo" required><img src="~/images/edit.png" class="edit_png"></div>

                                                <label class="City_label">City</label>
                                                <div><input asp-for="City" class="City_txt  textbox" type="text" name="City" required><img src="~/images/edit.png" class="edit_png"></div>

                                                <label class="Address_label">Address</label>
                                                <div><input asp-for="Address" class="Address_txt  textbox" type="text" name="Address" required><img src="~/images/edit.png" class="edit_png"></div>



                                            </div>

                                        </div>
                                        <div class="AddBranch_div"><button type="button" class="AddBranch" id="saveButton">Update</button></div>
                                        <div id="confirmationModal" class="modal">
                                            <div class="modal-content">
                                               
                                                <p>Are you sure you want to Update?</p>
                                                <button class="PopUpYes" type="submit" id="confirmSave">Yes</button>
                                                <button class="PopUpNo" type="button" id="cancelSave">No</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>



                        </div>

                    </div>
                    
                </div>
            </div>

        </div>


</body>

<script>
    document.getElementById("saveButton").addEventListener("click", function () {
        document.getElementById("confirmationModal").style.display = "block";
    });

    document.getElementById("cancelSave").addEventListener("click", function () {
        document.getElementById("confirmationModal").style.display = "none";
    });

    document.getElementById("confirmSave").addEventListener("click", function () {
       
        document.getElementById("confirmationModal").style.display = "none";
    });

    /////////////////////////////////

    document.getElementById("logoutButton").addEventListener("click", function () {
        document.getElementById("confirmationModalLogOut").style.display = "block";
    });

    document.getElementById("cancelLogOut").addEventListener("click", function () {
        document.getElementById("confirmationModalLogOut").style.display = "none";
    });

    document.getElementById("confirmLogOut").addEventListener("click", function () {
        
        document.getElementById("confirmationModalLogOut").style.display = "none";
    });
</script>