body {
    font-family: "Roboto Condensed";
    font-size: 14px;
    background-color: #DCF0FC;
}

a {
    text-decoration: none;
}

.MainDiv {
    margin-top: 1%;
}

.frame {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: -1%;
    margin-left: -0.6%;
    margin-bottom: -1%;
}

.frame_TYPE {
    display: none;
    flex-direction: column;
    height: 100%;
    margin-top: -1%;
    margin-left: -0.6%;
    margin-bottom: -1%;
}





.NavBarTop_div {
    display: flex;
    flex-direction: row;
    background-color: #05415C;
    width: 100.5%;
    height: 111px;
    position: fixed;
    z-index: 1;
}

.logo_img_Home {
    width: 90px;
    height: 90px;
    margin-top: 30px;
    margin-left: 50px;
}

.Blue {
    color: #0099FF;
}


.TopUl {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0%;
    width: 100%;
    box-shadow: #000;
    background-color: #05415C;
    height: 100%;
    font-family: "Roboto Condensed";
}

.TopLi {
    border-radius: 10px;
    margin-bottom: 1%;
    margin-right: 15px;
    font-family: "Roboto Condensed";
    font-size: 18px;
}

.TopLi {
    margin-top: 2%;
}



    .TopLi a {
        display: block;
        padding: 8px 16px;
        text-decoration: none;
        text-align: center;
        color: rgb(255, 255, 255);
    }


        .TopLi a:hover {
            font-weight: bold;
        }

.Li_1 {
    margin-left: 2%;
    font-size: 25.5px;
}

.Li_2 {
    margin-left: 58.9%;
}

.Li_3 {
    margin-top: 2.3%;
}



.account_circle {
    width: 40px;
    height: 40px;
}



.content_div {
    display: flex;
    flex-direction: row;
    height: 100%;
}






/*left Side*/

.navigation {
    padding-top: 5%;
    width: 13%;
    height: 150%;
    text-align: left;
    background-color: #05415C;
    position: fixed;
    margin-top: 5%;
}


.LeftUl {
    list-style-type: none;
    padding: 0;
    width: 100%;
    box-shadow: #000;
    background-color: #05415C;
    height: 150%;
}


.LeftLi {
    margin-top: 5%;
    border-radius: 10px;
    margin-bottom: 15%;
    margin-right: 6%;
    font-size: 14px;
}


    .LeftLi a {
        display: block;
        padding: 8px 16px;
        text-decoration: none;
        text-align: center;
        width: 86%;
    }


        .LeftLi a:hover {
            background-color: #11729D;
            color: #FFFFFF;
            cursor: pointer;
        }

.active {
    background-color: #05415C;
    color: rgb(255, 255, 255);
}

.white {
    background-color: #ffffff;
    color: #05415C;
    font-weight: bold;
    width: 83.5%;
    padding-top: 6%;
    padding-bottom: 6%;
}

.Back_png {
    position: absolute;
    margin-left: -15%;
}

.LastLeftLi {
}

.Dashboard_png, .Account_png, .Zone_png, .Branch_png, .logout2_png {
    position: absolute;
    margin-left: -15%;
    margin-top: -1.8%;
}


.type_div {
    display: flex;
    flex-direction: column;
    width: 88%;
    height: 100%;
    margin-left: 15%;
    margin-top: 8%;
}



.Flex_div2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 2%;
    margin-right: 5%;
    margin-top: 1%;
    background-color: rgba(217, 217, 217, 0.2); /* #D9D9D9 with 20% opacity */
}

.Flex_div2_line1 {
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    margin-top: 3%;
    height: 5%;
}

.Zone_label {
    font-size: 24px;
    font-weight: bold;
    margin-left: -8%;
    margin-top: -2%;
    margin-bottom: 2%;
}



.ZoneInfo_div {
    margin-top: 0.5%;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 95%;
    height: 150%;
    border-radius: 8px;
}


.MiddleNav_div {
    width: 17%;
    height: 20%;
}

.Middlenavigation {
    width: 100%;
    height: 80%;
    text-align: left;
    padding-top: 6%;
    background-color: #ffffff;
    margin-top: 10%;
}


.MiddleUl {
    list-style-type: none;
    margin: 0%;
    padding: 0;
    width: 100%;
    background-color: #ffffff;
    height: 100%;
}


.MiddleLi {
    margin-top: 5%;
    border-radius: 10px;
    margin-bottom: 15%;
    margin-right: 5%;
    font-size: 14px;
    font-weight: bold;
}


    .MiddleLi a {
        display: block;
        padding: 8px 16px;
        text-decoration: none;
        text-align: left;
    }


        .MiddleLi a:hover {
            color: #025CA3;
            font-weight: bold;
        }

.Middleactive {
    color: #5B5B5B;
    margin-left: 20%;
}

.Middlewhite {
    background-color: #FFFFFF;
    color: #05415C;
    font-weight: bold;
}

.PinBlue {
    color: #025CA3;
}

.Bar {
    margin-left: 6%;
}


.Basic_png, .AddZone_png {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: -2%;
}




.Flex_div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.MiddleContent_div {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 3.8%;
    margin-left: 1%;
    border-radius: 8px;
    box-shadow: 0px 4px 2px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 5%;
}


.BasicInformationTopic_div {
    background-color: #11729D;
    width: 100%;
    height: 60px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: -1%;
}

.BasicInformation_label {
    position: absolute;
    color: #FFFFFF;
    margin-top: 1%;
    margin-left: 1.6%;
    font-size: 18px;
}

.BasicInformation_div {
    display: flex;
    flex-direction: row;
}

.tablediv {
    display: flex;
    margin-top: 4%;
    margin-bottom: 5%;
    margin-left: 3%;
    width: 80%
}

table {
    border-collapse: collapse;
    width: 120%;
    border-radius: 10px; /* Adjust the value to control the roundness */
    overflow: hidden; /* This ensures the border-radius applies to the table */
    margin-left: 5%;
}



th:first-child, td:first-child {
    border-left: 1px solid #ddd;
}

th:last-child, td:last-child {
    border-right: 1px solid #ddd;
}

th {
    padding-left: 0%;
    background-color: #BEEBFF;
    text-align: left;
}

tr:hover {
    background-color: #f5f5f5;
}

.tableinput {
    border: none;
    outline: none;
    width: 90%;
    background-color: #F4F1F1;
    cursor: pointer;
}

.Col01 {
    width: 9%;
}

.Col02 {
    width: 30%;
}

.Col03 {
    width: 12%;
}

.Col04 {
    width: 15%;
}

.Col05 {
    width: 25%;
}

.Col06 {
    width: 10%;
}

.White {
    background-color: #ffffff;
    border: none;
}



.Amount_td {
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.5);
}

.BranchEdit {
    cursor: pointer;
    font-family: "Roboto Condensed";
    border-radius: 5px;
    width: 50px;
    height: 23px;
    font-size: 15px;
    box-shadow: 0px 4px 8px rgba(255, 255, 255);
    background-color: #05415C;
    color: rgb(255, 255, 255);
    margin-left: 5%;
}

.copyright {
    position: absolute;
    margin-left: 2%;
    margin-top: 48%;
    padding-bottom: 1%;
    z-index: -1;
}
