body {
    font-family: "Roboto Condensed";
    font-size: 14px;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.MainDiv {
    margin-top: 1%;
    text-align: center;
}

.BGIMG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.BGLogo {
    top: 0;
    left: 0;
    margin-top: 1%;
    width: 600px;
    height: 600px;
    z-index: -1;
}

.frame {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: -1%;
    margin-left: -0.6%;
    margin-bottom: -1%;
}

.frame_TYPE {
    display: none;
    flex-direction: column;
    height: 100%;
    margin-top: -1%;
    margin-left: -0.6%;
    margin-bottom: -1%;
}





.NavBarTop_div {
    display: flex;
    flex-direction: row;
    background-color: #0A0220;
    width: 110%;
    height: 111px;
}


.logo_img_Home {
    width: 75px;
    height: 75px;
    margin-top: 18px;
    margin-left: 41px;
}

.TopUl {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0%;
    width: 100%;
    box-shadow: #000;
    background-color: #0A0220;
    height: 100%;
}

.TopLi {
    position: absolute;
    border-radius: 10px;
    margin-bottom: 1%;
    margin-right: 15px;
    font-family: "Roboto Condensed";
    font-size: 18px;
}





    .TopLi a {
        display: block;
        padding: 8px 16px;
        text-decoration: none;
        text-align: center;
        color: rgb(255, 255, 255);
    }


        .TopLi a:hover {
            color: rgb(0, 0, 0);
        }

.Li_1 {
    right: calc(67.5% - 10px);
    margin-top: -0.1%;
}

.Li_2 {
    right: calc(59% - 10px);
    margin-top: -0.1%;
}

.Li_3 {
    right: calc(48% - 10px);
    margin-top: -0.1%;
}

.Li_4 {
    right: calc(50% - 10px);
    margin-top: -0.1%;
}

.Li_5 {
    right: calc(39.5% - 10px);
    margin-top: -0.1%;
}

.Li_6 {
    right: calc(25% - 10px);
    margin-top: -0.3%;
}

.Li_7 {
    right: calc(13% - 10px);
    margin-top: -0.1%;
}

.Li_8 {
    right: calc(3% - 10px);
    margin-top: 1.5%;
}




.Nav {
    position: relative;
    display: inline-block;
    margin-top: 10%;
}

.Navbtn {
    background-color: #0A0220;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Roboto Condensed";
    font-size: 18px;
}

.Nav-content {
    margin-top: -5%;
    display: none;
    position: absolute;
    background-color: none;
    min-width: 250px;
    z-index: 1;
    left: 5%;
}

    .Nav-content a {
        color: white;
        display: block;
        text-align: left;
        font-size: 14px;
    }

        .Nav-content a:hover {
            color: white;
            font-weight: bold;
        }

.Nav:hover .Nav-content {
    display: block;
    background-color: rgba(10, 2, 32, 0.7);
    border-radius: 10px;
}

.expandpng {
    width: 12px;
    height: 7.4px;
    margin-left: 10px;
    transition: transform 0.5s ease;
}

.Nav:hover .expandpng {
    transform: rotate(-180deg);
    transform-origin: center center;
}

.DropdownElement {
    font-family: "Roboto Condensed";
    transition: margin-left 0.3s ease;
}

    .DropdownElement:hover {
        cursor: pointer;
        margin-left: 5%;
        color: #ffffff;
    }

.account_circle {
    width: 35px;
    height: 35px;
}

.content_div {
    position: absolute;
    margin-top: 120px;
    margin-left: 0px;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Center_content_div {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Divisaana_Div, .Loan_Div, .Other_Div {
    width: 330px;
    height: 73%;
    cursor: pointer;
    margin: 4%;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 3%;
    outline: 6px solid black;
}

.Divisaana_Div, .Other_Div {
    background-color: #332755;
}

.Loan_Div {
    background-color: #FFFFFF;
}


.Divisaana_label, .Loan_label, .Other_label {
    font-size: 60px;
    font-weight: bold;
    color: #176c94;
    cursor: pointer;
    font-family: jsMath-cmbx10;
    padding-top: 85px;
}

.InsuranceLogo1 {
    margin-top: -20%;
    padding-top: 85px;
}

.InsuranceLogo2 {
    margin-top: -14%;
    padding-top: 85px;
}

.InsuranceLogo3 {
    width: 80%;
    margin-top: -8%;
    padding-top: 85px;
}


/*    .Divisaana_Div:hover, .Loan_Div:hover, .Other_Div:hover {
        background-color: #0A0220;
        cursor: pointer;
        margin-left: 0%;
        justify-content: center;
        align-items: center;
    }*/
.popup .content {
    position: absolute;
    top: 300px;
    right: calc(5% - 190px);
    transform: translate(-50%,-50%) scale(0);
    background: #FFFFFF;
    width: 276px;
    height: 415px;
    z-index: 2;
    border-radius: 8px;
    box-sizing: border-box;
}

.popup {
    display: block;
}

    .popup.active .content {
        transform: translate(-50%, -50%) scale(1);
    }

.TopDiv {
    width: 276px;
    height: 104px;
    background: #0A0220;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.PersonLbl {
    position: absolute;
    font-size: 14px;
    margin-top: 15px;
    margin-left: -25px;
    color: #ffffff;
}

.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    Top: 46px;
    Left: 88px;
}

.UserDp {
    width: 100px;
    height: 100px;
    Top: 46px;
    Left: 88px;
}

.editWhitepng {
    position: absolute;
    margin-top: 80px;
    right: calc(5% - 5px);
    cursor: pointer;
}

.DetailDiv {
    width: 276px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.NameLblDiv {
    /*position: absolute;*/
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.NameLbl {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    /*margin-left: 50px;*/
    justify-content: center;
    align-items: center;
}

.ManageDiv {
    position: absolute;
    margin-top: 30px;
}

.DetailLbl {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin-left: 50px;
    cursor: pointer;
    text-decoration: none;
}

    .DetailLbl:hover {
        color: #05415C;
        cursor: pointer;
    }

.LogoutDiv {
    position: absolute;
    margin-top: 70px;
}

.PersonHr {
    position: absolute;
    margin-top: 100px;
    border: 1.5px solid black;
    width: 276.02px;
}

.profilesDiv {
    position: absolute;
    margin-top: 120px;
}

.profilesLbl {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    margin-left: 18px;
}

.AdminLoginDiv {
    position: absolute;
    margin-top: 150px;
}

.AddDiv {
    position: absolute;
    margin-top: 190px;
}

.manage_accountsBlackpng, .logoutBlackpng, .admin_loginBlackpng, .addBlackpng {
    position: absolute;
    margin-top: -4px;
    margin-left: 18px;
}

.settingsBlackpng {
    position: absolute;
    margin-left: 130px;
}

.PopupElement {
    transition: margin-left 0.3s ease;
}

    .PopupElement:hover {
        margin-left: 3%;
    }

body {
    font-family: "Roboto Condensed";
    font-size: 14px;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.MainDiv {
    margin-top: 1%;
    text-align: center;
}

.BGIMG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.BGLogo {
    top: 0;
    left: 0;
    margin-top: 1%;
    width: 600px;
    height: 600px;
    z-index: -1;
}

.frame {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: -1%;
    margin-left: -0.6%;
    margin-bottom: -1%;
}

.frame_TYPE {
    display: none;
    flex-direction: column;
    height: 100%;
    margin-top: -1%;
    margin-left: -0.6%;
    margin-bottom: -1%;
}





.NavBarTop_div {
    display: flex;
    flex-direction: row;
    background-color: #0A0220;
    width: 110%;
    height: 111px;
}


.logo_img_Home {
    width: 75px;
    height: 75px;
    margin-top: 18px;
    margin-left: 41px;
}

.TopUl {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0%;
    width: 100%;
    box-shadow: #000;
    background-color: #0A0220;
    height: 100%;
}

.TopLi {
    position: absolute;
    border-radius: 10px;
    margin-bottom: 1%;
    margin-right: 15px;
    font-family: "Roboto Condensed";
    font-size: 18px;
}





    .TopLi a {
        display: block;
        padding: 8px 16px;
        text-decoration: none;
        text-align: center;
        color: rgb(255, 255, 255);
    }


        .TopLi a:hover {
            color: rgb(0, 0, 0);
        }

.Li_1 {
    right: calc(67.5% - 10px);
    margin-top: -0.1%;
}

.Li_2 {
    right: calc(59% - 10px);
    margin-top: -0.1%;
}

.Li_3 {
    right: calc(48% - 10px);
    margin-top: -0.1%;
}

.Li_4 {
    right: calc(50% - 10px);
    margin-top: -0.1%;
}

.Li_5 {
    right: calc(39.5% - 10px);
    margin-top: -0.1%;
}

.Li_6 {
    right: calc(25% - 10px);
    margin-top: -0.3%;
}

.Li_7 {
    right: calc(13% - 10px);
    margin-top: -0.1%;
}

.Li_8 {
    right: calc(3% - 10px);
    margin-top: 1.5%;
}




.Nav {
    position: relative;
    display: inline-block;
    margin-top: 10%;
}

.Navbtn {
    background-color: #0A0220;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Roboto Condensed";
    font-size: 18px;
}

.Nav-content {
    margin-top: -5%;
    display: none;
    position: absolute;
    background-color: none;
    min-width: 250px;
    z-index: 1;
    left: 5%;
}

    .Nav-content a {
        color: white;
        display: block;
        text-align: left;
        font-size: 14px;
    }

        .Nav-content a:hover {
            color: white;
            font-weight: bold;
        }

.Nav:hover .Nav-content {
    display: block;
    background-color: rgba(10, 2, 32, 0.7);
    border-radius: 10px;
}

.expandpng {
    width: 12px;
    height: 7.4px;
    margin-left: 10px;
    transition: transform 0.5s ease;
}

.Nav:hover .expandpng {
    transform: rotate(-180deg);
    transform-origin: center center;
}

.DropdownElement {
    font-family: "Roboto Condensed";
    transition: margin-left 0.3s ease;
}

    .DropdownElement:hover {
        cursor: pointer;
        margin-left: 5%;
        color: #ffffff;
    }

.account_circle {
    width: 35px;
    height: 35px;
}

.content_div {
    position: absolute;
    margin-top: 120px;
    margin-left: 0px;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Center_content_div {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:-3%;
}

.Divisaana_Div, .Loan_Div, .Other_Div {
    width: 300px;
    height: 73%;
    cursor: pointer;
    margin: 4%;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 3%;
    outline: 6px solid black;
}

.Divisaana_Div, .Other_Div {
    background-color: #332755;
}

.Loan_Div {
    background-color: #FFFFFF;
}


.Divisaana_label, .Loan_label, .Other_label {
    font-size: 60px;
    font-weight: bold;
    color: #176c94;
    cursor: pointer;
    font-family: jsMath-cmbx10;
    padding-top: 85px;
}

.InsuranceLogo1 {
    margin-top: -25%;
    padding-top: 85px;
}

.InsuranceLogo2 {
    margin-top: -19%;
    padding-top: 85px;
}

.InsuranceLogo3 {
    width: 80%;
    margin-top: -10%;
    padding-top: 85px;
}


/*    .Divisaana_Div:hover, .Loan_Div:hover, .Other_Div:hover {
        background-color: #0A0220;
        cursor: pointer;
        margin-left: 0%;
        justify-content: center;
        align-items: center;
    }*/
.popup .content {
    position: absolute;
    top: 300px;
    right: calc(5% - 190px);
    transform: translate(-50%,-50%) scale(0);
    background: #FFFFFF;
    width: 276px;
    height: 415px;
    z-index: 2;
    border-radius: 8px;
    box-sizing: border-box;
}

.popup {
    display: block;
}

    .popup.active .content {
        transform: translate(-50%, -50%) scale(1);
    }

.TopDiv {
    width: 276px;
    height: 104px;
    background: #0A0220;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.PersonLbl {
    position: absolute;
    font-size: 14px;
    margin-top: 15px;
    margin-left: -25px;
    color: #ffffff;
}

.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    Top: 46px;
    Left: 88px;
}

.UserDp {
    width: 100px;
    height: 100px;
    Top: 46px;
    Left: 88px;
}

.editWhitepng {
    position: absolute;
    margin-top: 80px;
    right: calc(5% - 5px);
    cursor: pointer;
}

.DetailDiv {
    width: 276px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.NameLblDiv {
    /*position: absolute;*/
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.NameLbl {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    /*margin-left: 50px;*/
    justify-content: center;
    align-items: center;
}

.ManageDiv {
    position: absolute;
    margin-top: 30px;
}

.DetailLbl {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin-left: 50px;
    cursor: pointer;
    text-decoration: none;
}

    .DetailLbl:hover {
        color: #05415C;
        cursor: pointer;
    }

.LogoutDiv {
    position: absolute;
    margin-top: 70px;
}

.PersonHr {
    position: absolute;
    margin-top: 100px;
    border: 1.5px solid black;
    width: 276.02px;
}

.profilesDiv {
    position: absolute;
    margin-top: 120px;
}

.profilesLbl {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    margin-left: 18px;
}

.AdminLoginDiv {
    position: absolute;
    margin-top: 150px;
}

.AddDiv {
    position: absolute;
    margin-top: 190px;
}

.manage_accountsBlackpng, .logoutBlackpng, .admin_loginBlackpng, .addBlackpng {
    position: absolute;
    margin-top: -4px;
    margin-left: 18px;
}

.settingsBlackpng {
    position: absolute;
    margin-left: 130px;
}

.PopupElement {
    transition: margin-left 0.3s ease;
}

    .PopupElement:hover {
        margin-left: 3%;
    }
