@using Bank_Insurance.ViewModel
@using Microsoft.AspNetCore.Identity
@model SavingCompenstaionViewModel
@{
    ViewData["Title"] = "Saving relief compensation";
}

<head>

    <link rel="stylesheet" href="~/css/CompentionceStyle.css">
    <link rel="stylesheet" href="~/css/PopUpStyle.css">
    <script src="~/js/CompentionceScript.js"></script>
    <title>Saving Reilef Compensation</title>
</head>
<body>
    <div class="MainDiv">

        <div class="frame" id="Home">
            <div class="NavBarTop_div">
                <a asp-controller="Home" asp-action="Index"><img class="logo_img_Home" src="~/images/Homelogo.png"></a>
                <label class="Topic">Saving Reilef Compensation</label>

            </div>


            <div class="content_div">
                <div class="navigation" id="Leftnav">
                    <ul class="LeftUl">

                        <li class="LeftLi">
                            <a asp-controller="Home" asp-action="Index" class="active" id="">
                                <img src="~/images/Back.png" class="Back_png">Back
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="type_div">
                    <form asp-controller="Compensation" asp-action="AddSavingReilef" method="post">
                    <div class="V_div01">
                        <label class="Reason_lbl">Reason</label>
                        <select asp-for="Reason" name="Reason" id="Reason" class="ReasonDropdown textbox">
                            <option value="" disabled></option>
                            <option value="death" id="">For death</option>
                            <option value="University" id="">For University</option>
                            <option value="Scholarship" id="">For Grade 5 Scholarship</option>



                        </select>
                    </div>

                    <label id="TopicDeceased" class="TopicDeceased">Compensation for the deceased</label>

                    <div class="content_div2">
                        
                            <div class="V_div01">

                                <div class="V_div">
                                    <label class="Branch_lbl">Branch</label>
                                    <input class="BranchSR_txt textbox" type="text" id="branchInput" required>
                                    <input type="hidden" id="branchId" name="BranchId">
                                </div>

                                <div class="V_div">
                                    <label class="Name_lbl">Member Name</label>
                                    <input asp-for="MemberName" class="NameSR_txt textbox" type="text" required>
                                </div>

                                <div class="V_div">
                                    <label class="Address_lbl">Address</label>
                                    <input asp-for="MemberAddress" class="AddressSR_txt textbox" type="text">
                                </div>

                                <div class="V_div">
                                    <label class="DeceasedName_lbl">Name of </label>
                                    <label id="person" class="DeceasedName_lbl">deceased person</label>
                                    <input asp-for="DeathpersonName" class="DeceasedNameSR_txt textbox" type="text">
                                </div>

                                <div class="V_div top2">
                                    <label class="Relation_lbl">Relation</label>
                                    <input asp-for="Relation" class="RelationSR_txt textbox" type="text">
                                </div>

                                <div class="V_div">
                                    <label class="ValueS_lbl">Compensation</label>
                                    <label class="ValueSR_lbl">Value</label>
                                    <input asp-for="CompensationValue" class="ValueSR_txt textbox" type="number" min="0" oninput="validity.valid||(value='');" required>
                                </div>

                                <div class="V_div">
                                    <label class="balance_lbl">Remaining</label>
                                    <label class="balanceSR_lbl">balance</label>
                                    <input asp-for="RemainingBalanece" class="balanceSR_txt textbox" type="number" min="0" oninput="validity.valid||(value='');">
                                </div>

                                <div class="V_div">
                                    <label id="date" class="Date_lbl">Date of death</label>
                                    <input asp-for="ReasonDate" class="DateSR_txt textbox" type="date" required>
                                </div>

                                <div class="V_div hidden" id="UniversityName_Div">
                                    <label id="Name_lbl" class="Name_lbl">University Name</label> 
                                    <input class="Name_txt textbox" type="text">
                                </div>

                                <label class="Comment_txt hidden" type="text" id="Comment_txt"></label>

                            </div>

                            <div class="button_div">

                                <div class="submit_div_2"><button type="button" class="submit" id="saveButton">Submit</button></div>
                            </div>
                            <div id="confirmationModal" class="modal">
                                <div class="modal-content">
                                    
                                    <p>Are you sure you want to Submit?</p>
                                    <button class="PopUpYes" type="submit" id="confirmSave">Yes</button>
                                    <button class="PopUpNo" type="button" id="cancelSave">No</button>
                                </div>
                            </div>
                    </form>
                </div>
                
            </div>
        </div>

    </div>
</body>

<script>
    document.getElementById("saveButton").addEventListener("click", function () {
        document.getElementById("confirmationModal").style.display = "block";
    });

    document.getElementById("cancelSave").addEventListener("click", function () {
        document.getElementById("confirmationModal").style.display = "none";
    });

    document.getElementById("confirmSave").addEventListener("click", function () {
        
        document.getElementById("confirmationModal").style.display = "none";
    });
</script>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function () {
            
            var branches = @Html.Raw(Json.Serialize(ViewBag.Branchs));

            
            var branchNamesWithoutDots = branches.map(function (branch) {
                return branch.text.replace('.', ''); 
            });

            
            $("#branchInput").autocomplete({
                source: branchNamesWithoutDots, 
                minLength: 1, 
                messages: {
                    noResults: '',
                    results: function () { }
                },
                select: function (event, ui) {
                    
                    var selectedBranch = branches.find(function (b) { return b.text === ui.item.value; });

                   
                    $("#branchId").val(selectedBranch.value);

                    return true; 
                }
            }).autocomplete("instance")._renderMenu = function (ul, items) {
                var that = this;
                $.each(items, function (index, item) {
                    that._renderItemData(ul, item);
                });
            };
        });
    </script>
}


    <script>

        const dropdown = document.getElementById('Reason');


        const selectedOptionLabel = document.getElementById('TopicDeceased');
        const personLabel = document.getElementById('person');
        const dateLabel = document.getElementById('date');
        const UniversityNameDiv = document.getElementById('UniversityName_Div');
        const NameLabel = document.getElementById('Name_lbl');

        dropdown.addEventListener('change', function () {

            const selectedOptionText = dropdown.options[dropdown.selectedIndex].text;

            if (selectedOptionText == "For death") {
                selectedOptionLabel.textContent = 'Compensation for Deceased';
                personLabel.textContent = 'deceased person';
                dateLabel.textContent = 'Date of death';
                UniversityNameDiv.style.display = 'none';
            }
            if (selectedOptionText == "For University") {
                selectedOptionLabel.textContent = 'Compensation for University';
                personLabel.textContent = 'Student';
                dateLabel.textContent = 'Reson Date';
                UniversityNameDiv.style.display = 'block';
                NameLabel.textContent = 'University Name';
            }
            if (selectedOptionText == "For Grade 5 Scholarship") {
                selectedOptionLabel.textContent = 'Compensation for Grade 5 Scholarship';
                personLabel.textContent = 'Student';
                dateLabel.textContent = 'Reson Date';
                UniversityNameDiv.style.display = 'block';
                NameLabel.textContent = 'School Name';
            }

        });
    </script>
}


