
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Condensed">
    <link rel="stylesheet" href="~/css/LayoutStyle.css">
    <script src="~/js/TextFeildFocus.js"></script>
</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
    <div class="footer">
        <!-- Footer content here -->
        <label class="copyright">Copyright 2023 &copy; NanosoftGlobel PVT.LTD All Rights Reserved.</label>
    </div>
</body>

</html>