@using Bank_Insurance.ViewModel
@using Microsoft.AspNetCore.Identity
@model LoanViewModel
<head>
    
    <link rel="stylesheet" href="~/css/CompentionceStyle.css">
    <link rel="stylesheet" href="~/css/PopUpStyle.css">
    <script src="~/js/CompentionceScript.js"></script>
    <title>Loan Compentionce</title>
</head>
<body>
    <div class="MainDiv">

        <div class="frame" id="Home">
            <div class="NavBarTop_div">
                <a asp-controller="Home" asp-action="Index"><img class="logo_img_Home" src="~/images/Homelogo.png"></a>
                <label class="Topic">Loan Compentionce</label>

            </div>


            <div class="content_div">
                <div class="navigation" id="Leftnav">
                    <ul class="LeftUl">

                        <li class="LeftLi">
                            <a asp-controller="Home" asp-action="Index" class="active" id="">
                                <img src="~/images/Back.png" class="Back_png">Back
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="type_div">

                    <form asp-controller="Loan" asp-action="LoanCompentionce" method="post">

                        <div class="content_div2">

                        <div class="V_div01">

                            <div class="V_div">
                                <label class="Branch_lbl">Branch</label>
                                <input class="Branch_txt textbox" type="text" id="branchInput" required>
                                <input type="hidden" id="branchId" name="BranchId">
                            </div>

                            <div class="V_div">
                                <label class="Name_lbl">Name</label>
                                    <input asp-for="Name" class="Name_txt textbox" type="text" id="fullname" required>
                            </div>

                            <div class="V_div hidden">
                                <label class="PolicyNo_lbl">Policy No</label>
                                    <input asp-for="CustomerPolicyNo" class="PolicyNo_txt" type="text" id="policyno" required>
                            </div>

                            <div class="V_div">
                                <label class="Value_lbl">Loan Value</label>
                                <input asp-for="LoanValue" class="Value_txt textbox" type="number" min="0" oninput="validity.valid||(value='');" required>
                            </div>

                            <div class="V_div">
                                <label class="Value_lbl">Compention Value</label>
                                <input asp-for="CompenstaionValue" class="Value_txt textbox" type="number" min="0" oninput="validity.valid||(value='');" required>
                            </div>

                            <div class="V_div">
                                <label class="Requirement_lbl">Requirement</label>

                                 <select name="Requirement" id="" class="RequirementDropdown textbox">
                                        @* <option value="" disabled selected></option> *@
                                        <option value="Self-Employment" id="" selected>Self-Employment</option>
                                        <option value="Cultivation" id="">Cultivation</option>
                                        <option value="Retail Shop" id="">Retail Shop</option>
                                    
                                </select>
                            </div>

                            <div class="V_div">
                                <label class="Comment_lbl">Comment</label>
                                <textarea asp-for="Comment" class="Comment_txt textbox" type="text" id="Comment_txt"></textarea>
                            </div>

                            <div class="V_div D_div">
                                <label class="Date_lbl">Incident Date</label>
                                <input asp-for="Date" class="Date_txt textbox" id="date" type="date">
                            </div>
                            
                        </div>

                        <div class="button_div">

                                <div class="submit_div_2"><button type="button" class="submit" id="saveButton">Submit</button></div>
                        </div>
                        <div id="confirmationModal" class="modal">
                            <div class="modal-content">
                                
                                <p>Are you sure you want to Submit?</p>
                                <button class="PopUpYes" type="submit" id="confirmSave">Yes</button>
                                <button class="PopUpNo" type="button" id="cancelSave">No</button>
                            </div>
                        </div>
                        
                    </div>

                    </form>
                    
                </div>
            </div>

        </div>
</body>

<script>
    document.getElementById("saveButton").addEventListener("click", function () {
        document.getElementById("confirmationModal").style.display = "block";
    });

    document.getElementById("cancelSave").addEventListener("click", function () {
        document.getElementById("confirmationModal").style.display = "none";
    });

    document.getElementById("confirmSave").addEventListener("click", function () {
        
        document.getElementById("confirmationModal").style.display = "none";
    });

    // Set the max attribute to today's date
    const today = new Date().toISOString().split('T')[0];
    document.getElementById('date').setAttribute('max', today);
</script>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function () {
            
            var branches = @Html.Raw(Json.Serialize(ViewBag.Branchs));

            
            var branchNamesWithoutDots = branches.map(function (branch) {
                return branch.text.replace('.', ''); 
            });

            
            $("#branchInput").autocomplete({
                source: branchNamesWithoutDots, 
                minLength: 1, 
                messages: {
                    noResults: '',
                    results: function () { }
                },
                select: function (event, ui) {
                    
                    var selectedBranch = branches.find(function (b) { return b.text === ui.item.value; });

                    
                    $("#branchId").val(selectedBranch.value);

                    return true; 
                }
            }).autocomplete("instance")._renderMenu = function (ul, items) {
                var that = this;
                $.each(items, function (index, item) {
                    that._renderItemData(ul, item);
                });
            };

            
            var members = @Html.Raw(Json.Serialize(ViewBag.Member));

            
            var memberNamesWithoutDots = members.map(function (member) {
                return member.text.replace('.', ''); 
            });

            
            $("#fullname").autocomplete({
                source: memberNamesWithoutDots, 
                minLength: 1, 
                messages: {
                    noResults: '',
                    results: function () { }
                },
                select: function (event, ui) {
                   
                    var selectedMember = members.find(function (member) {
                        return member.text === ui.item.value;
                    });

                    
                    
                    
                    $("#policyno").val(selectedMember.value);

                    return true; 
                }
            }).autocomplete("instance")._renderMenu = function (ul, items) {
                var that = this;
                $.each(items, function (index, item) {
                    that._renderItemData(ul, item);
                });
            };
        });
    </script>
}
