@using Bank_Insurance.ViewModel
@using Microsoft.AspNetCore.Identity
@model LoanViewModel
<head>
    
    <link rel="stylesheet" href="~/css/LoanHomeStyle.css">
   
    <title>Home/Loan Insurence</title>
</head>
<body>
    <div class="MainDiv">

        <div class="frame" id="Home">
            <div class="NavBarTop_div">
                <a class="Back" asp-controller="Home" asp-action="Index"><img class="logo_img_Home" src="~/images/Homelogo.png"></a>
                <label class="Topic">Home/Loan Insurence</label>

            </div>


            <div class="content_div">
                <div class="navigation" id="Leftnav">
                    <ul class="LeftUl">

                        <li class="LeftLi">
                            <a asp-controller="Home" asp-action="Index" class="active" id="">
                                <img src="~/images/Back.png" class="Back_png">Back
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="type_div">



                    <div class="content_div2">



                        <a asp-action="AddHouseLoanInsurance" asp-controller="Loan"><div class="Home_div"><button type="submit" class="Home">Home Loan Insurence</button></div></a>
                        <a asp-action="AddLoanInsurance" asp-controller="Loan"><div class="Loan_div"><button type="submit" class="Loan">Loan Insurence</button></div></a>
                        
                    </div>
                   
                </div>
            </div>

        </div>
</body>
